<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Romanowski's family
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Description of the family.
</ion-content>
